.header {
    background-color: #2e8baa;
    height: 40px;
    padding-left: 1%;
    font-size: small;
}


.navbar {
    background-color: rgb(238, 226, 98);
    color:#232324;
}


.title {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom-color: #232324;
    border-bottom-style: groove;
    font-size: xxx-large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#232324;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
    margin-bottom: 6px;
  }