<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block header %}{{ super() }}{% endblock %}
        {% block navbar %}{{ super() }}{% endblock %}
        {% block title %} Wetter der Schweiz {% endblock %}
        {% block main %}{{ super() }}{% endblock %}


        {% block content %}

        <div class="plot center" id="weather-plots"></div>
        <div class="plot center" id="weather-plot1"></div>
        
        {% endblock %}


        {% block script %}
        <script type="module">
            
            const response = await fetch('/weather-plots')
            const data = await response.json()
  
            const plots_div = $("#weather-plots");

            if(data.plot1 !== undefined){
                Bokeh.embed.embed_item(data.plot1, "weather-plot1");
            } else {
              plots_div.append("<h1>"+data.error+"</h1>");
              plots_div.append("<pre>"+data.traceback+"</pre>");
            }
          </script>
        {% endblock %}

    </body>
</html>